body{
	background-color: #e3e3e3;
	font-family: 'Raleway', sans-serif;
}
.img-circle {
	float: middle;
	max-width: 75px;
	height: auto;
}

.hiddenContent {
  display: none;
}
.center_div{
    margin: 0 auto;
    width:75%;
    text-align: middle;
}
.review{
  padding-left: 25px;
  padding-right: 25px;
}
