body{
	font-family: 'Raleway', sans-serif;
	background-color: #e3e3e3;
}
.jumbotron{
	background-color: #201e1e;
}
.jumbotron h1{
	color: #e3e3e3;
	font-weight: lighter;
}

.mainContent{
  margin-left: 10%;
	margin-right: 10%;
}
.container{
	width: auto;
	margin: 0 auto;
}
img{
	height: auto;
	width: auto;
}
.topAlbums {
	border: 2px solid black;
	overflow: hidden;

}
.table {
  display:table;
  width:100%;
  overflow:hidden;
}
.row1 {
  display:table-row;
}
.row2 {
  display:table-row;
}
div[class^="cell"] {
  display:table-cell;
  width:33%;
  vertical-align:bottom;
}
.album0 {
	width: 33%;
	padding-right: 20px;
	float: left;
	border: 2px solid blue;
	padding-bottom: 500em;
	margin-bottom: -500em;
}
.album1 {
	width: 33%;
	padding-right: 20px;
	float: left;
	border: 2px solid blue;
}
.album2 {
	width: 33%;
	padding-right: 20px;
	float: left;
	border: 2px solid blue;
	padding-top: 500em;
	margin-top: -500em;
}
.topSongs {

}
div[class^="video"]{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
div[class^="video"] iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
