
#hiddenForm {
	display: none;
}
#hid6 {
	display: none;
}
#hid7 {
	display: none;
}
#hid8 {
	display: none;
}
#hid9 {
	display: none;
}
#hid10 {
	display: none;
}
#firstButton {
	display: none;
}
#hidden1 {
	display: none;
}
#hidden2 {
	display: none;
}
#hidden3 {
	display: none;
}
#hidden4 {
	display: none;
}
#hidden5 {
	display: none;
}
#hidden6 {
	display: none;
}
#hidden7 {
	display: none;
}
#hidden8 {
	display: none;
}
#hidden9 {
	display: none;
}
#hidden10 {
	display: none;
}
#hiddenContent{
	display: none;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
