p[class^="hidden"] {
  display: none;
}

.panel {
background-color: #ffffff;
border: 2px solid #000000;
border-radius: 5px;
color: #3D514D;
max-width: 300px;
align-self: stretch;
margin-right: 0;
}
.panel-heading {
padding-right: 25px;
background-color: #201e1e;
border-bottom: 2px solid #000000;
border-radius: 5px;
}
.artist {
padding-left: 10px;
padding-right: 10px;
word-wrap: normal;
}
.img-circle {
  border: 2px solid #000000;
}
img {
max-width: 100%;
height: auto;
}
.postContainers {
justify-content: space-around;
display: flex;
flex-wrap: wrap;
}
.artist{
vertical-align: middle;
}
.tags{
padding-left: 50px;
float: left;
}
p {
font-size: 16px;
}
.results{
  padding-left: 30px;
  padding-right: 30px;
}
