<html lang="en">
{% extends 'header.html' %}
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	    <script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block scripts %}
	{{super()}}
		<script type="text/javascript" src="{{url_for('static', filename='js/pace.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/ga.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/chooseFestival.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/homeButton.js') }}"></script>
	{% endblock %}
	{% block styles %}
    {{super()}}
      <link rel="stylesheet" href="{{url_for('.static', filename='css/festival.css')}}">
			<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  	{% endblock %}
	</head>
{% block title %}Festival Band Recommender{% endblock %}
{% block content %}
<body class="mainContent">
<div class="jumbotron" align="middle">
  <h1>Festival Band Recommender</h1>
  <h3>Know who's playing at your festival!</h3>
  <p> To start, choose your festival below. Then, enter at least one of your favorite bands and
  we'll recommend 25 other bands you would enjoy at that festival.</p>
</div>
<p>It has been a long two years since the February 2014 release of Q’s breakout project, <i>Oxymoron</i>. On this specific album, this once L.A. Crip gang banger was still trying to prove himself as a
	lyrical slaying MC. While <i>Oxymoron</i> proved to be a compilation of party bangers that many would hear all the way through 2016, <i>Blank Face LP</i> shows that the success of previous albums has
	ultimately changed him into an individual who loves the flashier things in life. Track by track, it is evidently clear that ScHoolboy is reaping the luxuries of his career and couldn’t care
	less if people think he is being too “obnoxious” about it. In the same sentence, Q’s previous albums contemplate about his life as a teenager and young adult living in south L.A. <i>Setbacks</i>, <i>Habits and
	Contradictions</i>, and even tracks on <i>Oxymoron</i> illustrate that he is still searching for equilibrium on finding studio time and raising his daughter, Joy. Much of his traditional gang-banging history
	seemed to have subsided upon the concentration of his first three studio albums. However, this fourth project from the groovy Crip reflects about his trouble making ways as a dope dealer and a
	rambunctious adolescent. </p>

	<p>From the very start of the album, <i>Blank Face LP</i> opens up with a murderous rhythm on the first track, “TorcH.” To validate my previous points,
		Q talks about how big his rims are and that he “…ain’t been right since out the cervix.” He illustrates that Figueroa and Hoover Street forced him to grow up fast,
		but ultimately transformed him into an individual that he never wanted to be, a gang banger out for blood(s). Moving on down the list, another hard-hitting track is gangster
		anthem “Ride Out.” Accompanied by fellow Crip member from Long Beach, Vince Staples, this violent duo tells stories about the dangers of their neighborhoods. Banging, slanging,
		and hanging lyrics are layered over homicidal beats from TDE’s most wanted producer, Sounwave. Continually, ScHoolboy tells his listeners on this album about his years of struggle,
		but concludes that this past year has been the happiest he has been in quite some time. Even after listening to this collection of gang banger anthems, I find that he is comfortable where
		he is in his life. Making enough money to buy himself a brand new McLaren (even when he had a suspended license for years) and sending his daughter to a good school in his neighborhood
		are just a few of the many pleasures he now experiences on a daily basis. </p>

<p>It should also be duly noted at the multitude of superstar features that ScHoolboy incorporates on his tracks.
	Rising star <a href="/artist/Anderson%20.Paak">Anderson.Paak</a> is featured on two songs, while <a href="/artist/Vince%20Staples">Vince Staples</a> and <a href="/artist/Kanye%20West">Yeezy</a> himself
	 get a credit on the album as well. In addition, recently signed TDE sensation,
	<a href="/artist/Lance%20Skiiiwalker">Lance Skiiiwalker</a>, has made his way on Jay Rock’s and ScHoolboy’s new albums, respectively. The feature that really impressed me, however, was the old school collaboration
	with <a href="/artist/Tha%20Dogg%20Pound">Tha Dogg Pound</a>. Comprised of two west coast MCs, <a href="/artist/Kurupt">Kurupt</a> and <a href="/artist/Dat%20Nigga%20Daz">Dat Nigga Daz</a>,
	 this feature definitively gives the album the west coast gangster ambiance that we haven’t
	experienced since The Chronic. With that being said, the impressive brilliance behind TDE producers, Sounwave, Taebeast, and Willie B, make it unquestionably obvious that
	they are best producers in the industry right now. However, they weren’t the only ones who made the album stand out to production obsessed junkies. DJ Dahi
	(the producer of “Hell of a Night” beat), Tyler, the Creator, Metro Boomin/Southside, and Swizz Beats all produce glass breaking beats that could blow your Alpine speakers to smithereens. </p>

	<p>All in all, this album was everything that ScHoolboy Q fans and TDE fans have been waiting for. It has been an incredible two years for Top Dawg Entertainment.
		In March of 2015, <a href="/artist/Kendrick%20Lamar">Kendrick Lamar</a> dropped <i>To Pimp A Butterfly</i>, and was then followed by <a href="/artist/Jay%20Rock">Jay Rock’s</a> debut album <i>90059</i>. In the blink of an eye,
		we were all suddenly
		taken by surprise when KDOT released a seven track EP of his demos from TPAB. Now, Groovy Tony himself gave us a great album that can repeatedly be on our rotation all summer.
		PSA to <a href="/artist/Ab-Soul">Ab-Soul</a>, <a href="/artist/Isaiah%20Rashad">Isaiah Rashad</a> (especially), Lance Skiiiwalker and SZA, WE NEED AN ALBUM FROM YOU GUYS. This would make it the year of Top Dawg if you did.
<br/>
Album available: Interscope Records (Top Dawg Entertainment)
</p>

{% endblock %}
