<html lang="en">
{% extends "header.html" %}
	<head>
  {% block styles %}
    {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='css/how.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  {% endblock %}
  {% block scripts %}
  {{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='js/pace.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/ga.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/showMore.js') }}"></script>
{% endblock %}
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/bootstrap.min.js"></script>
	</head>

{% block content %}
<body align='middle'>
	<div class="jumbotron" align="middle">
	  <h1>How it works</h1>
	</div>
  <br/>
  <br/>
  <p> This website utilizes <a href="www.last.fm">last.fm</a>, which is a music website conttaining a ton of data about artists.
    Each artist gets tags assigned to them by users of the site. Luckily, Last.fm
    is nice enough to provide an API so developers like myself can get to the information.
  </p>
  <br/>
  <p> This website takes the five artists you've given, gets their tags from Last.fm, then
    does some calculations to find similar artists. This is not the same as Last.fm's similar artists feature. This is my own algorithm and should produce different results.
		On the results page, the percentages indicate why the particular artist was chosen. For example, if you see 'shoegaze 100%',
    then the scaled sum of your given artists and the results artist had the same level of shoegaze.
  </p>
  <br/>
  <br/>
</body>
{% endblock %}
